.col1{
    background-color: rgb(133, 122, 109);
}

.col2{
    background-color: rgb(133, 122, 109);
}


.col3{
    background-color: rgb(133, 122, 109);
}


.col4{
    background-color: rgb(133, 122, 109);
}


.col5{
    background-color: rgb(133, 122, 109);
}
