
.col1{

background-color: black;
padding-top: 150px;
padding-bottom: 150px;


}

.col2{

    background-color: black;
    padding-top: 150px;
    padding-bottom: 150px;
    
}

.col3{
    background-color: black;
padding-top: 150px;
padding-bottom: 150px;

}



.col555{
background-color:black;
padding-top:20px ;
padding-bottom: 20px;

}


.col11{
 
    border-style: solid;
    padding-top: 150px;
    padding-bottom: 150px;
    
    
    }
    
    .col22{
    
        border-style: solid;
        padding-top: 150px;
        padding-bottom: 150px;
        
    }
    
    .col33{
    border-style: solid; 
    padding-top: 150px;
    padding-bottom: 150px;
    
    }


    .col111{
 
        border-style: solid;
        padding-top: 150px;
        padding-bottom: 150px;
        
        
        }
        
        .col222{
        
            border-style: solid;
            padding-top: 150px;
            padding-bottom: 150px;
            
        }
        
        .col333{
        border-style: solid; 
        padding-top: 150px;
        padding-bottom: 150px;
        
        }
    
    