   /* .col1{

    
    padding-top: 150px;
    padding-bottom: 150px;
    

    }  */
    .t1{
        border: 1px solid black;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .d1{
        border: 1px solid black;
    }



    .t2{
        border: 1px solid black;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .d2{
        border: 1px solid black;
    }



    .t3{
        border: 1px solid black;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .d3{
        border: 1px solid black;
    }




    .t4{
        border: 1px solid black;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .d4{
        border: 1px solid black;
    }

/* 
    .col2{
 
        padding-top: 100px;
        padding-bottom: 100px;
        
    }
    
    .col3{
  
    padding-top: 150px;
    padding-bottom: 150px;
    
    }
    
    .col4{
        
    padding-top: 150px;
    padding-bottom: 150px;
    
    }
  */
  .col5{

    border: 1px solid black;


  }
