.col1{

    background-color: grey;
    padding-top: 150px;
    padding-bottom: 150px;
    
    
    }
    
    .col2{
    
        background-color: grey;
        padding-top: 150px;
        padding-bottom: 150px;
        
    }
    
    .col3{
        background-color: grey;
    padding-top: 150px;
    padding-bottom: 150px;
    
    }
    
    .col4{
        background-color: grey;
    padding-top: 150px;
    padding-bottom: 150px;
    
    }
    .col5{
        background-color: grey;
   
    
    }
        
    
    .col6{
        background-color: grey;
   
    
    }
        
    .col7{
        background-color: grey;
   
    
    }
    .col8{
        background-color: grey;
   
    
    }
        
        