
    .t1{
       
        padding-top: 100px;
        padding-bottom: 200px;
        background-color: grey;
    }
    .d1{
       
        background-color: grey;
    }



    .t2{
        /* border: 1px solid black; */
        padding-top: 100px;
        padding-bottom: 200px;
        background-color: grey;
    }
    .d2{
       
        background-color: grey;
    }



    .t3{
        
        padding-top: 100px;
        padding-bottom: 200px;
        background-color: grey;
    }
    .d3{
        
        background-color: grey;
    }




    .t4{
       
        padding-top: 100px;
        padding-bottom: 200px;
        background-color: grey;
    }
    .d4{
       
        background-color: grey;
    }




  .cl{
  background-color:aqua;


  }


.col5{


    background-color: aqua;
}
  

.col11{

    background-color: aqua;

    
}
