.col1{
background-image: url("../webpimgs/imagemain.jpg");
background-position: center;
background-size: cover;
height: 100vh;
}
.nav1{

    font-family:  sans-serif;

    font-weight:bold;
   

}


.main-h{   
    font-family: 'Fraunces';
   font-weight: bolder;
   margin-top: 220px;
}


.arrow{

    text-align: center;
    margin-top: 75px;
}